//- Developed By: Constant Marks and Michael Nutt
//- Last Modified: 11/25/2019
extends layout
include mixins/navbar.pug

//- Template page for filtering by tag

block content
    +navbar(tag_list, name)
    dl
        each article in article_list
            h2= article.title
            p= article.summary
            p= article.author
        else
            p No articles exist for this tag.